{% extends 'blog/base.html' %}
{% block content %}

<div id='content_wrapper'>
    <div id='left_side_wrapper'>
        <div id='recent_post_wrapper_about' class='recent_post_wrapper'>
            <div id='recent_post_title_blog' class='recent_post_title'>
                Blog Posts
            </div>
            <div id='recent_post_content_blog' class=recent_post_content'>
                {% for blog in side_blogs %}
                    <a href='/blog/{{blog.slug}}'
                        title='{{blog.title}}'>{{blog.title}}</a>
                    <br />
                    {{blog.description}}
                    <hr />
                {% endfor %}
                <div id='side_hole'>
                </div>
            </div>
            <br />
            <div id='recent_post_title_tutorial' class='recent_post_title'>
                Tutorial Posts
            </div>
            <div id='recent_post_content_tutorial' class='recent_post_content'>
                {% for tutorial in side_tutorials %}
                    <a href='/tutorial/{{tutorial.slug}}'
                        title='{{tutorial.title}}'>{{tutorial.title}}</a>
                    <br />
                    {{tutorial.description}}
                    <hr />
                {% endfor %}
                <div id='side_hole'>
                </div>
            </div>
        </div> <!-- END RECENT POST WRAPPER -->
    </div> <!-- END LEFT SIDE WRAPPER -->
    <div id='right_side_wrapper'>
        <div id='content'>
            <div id='about_page_content_wrapper'>
                <div id='about_page_content_title'>
                    Chris Nabors
                </div>
                <hr />
                <div id='about_page_content_picture_wrapper'>
                    <div id='about_page_content_picture_one'>
                    </div>
                    <div id='about_page_content_vertical_tape_one'>
                    </div>
                    <div id='about_page_content_vertical_tape_two'>
                    </div>
                    <div id='about_page_content_horizontal_tape_one'>
                    </div>
                    <div id='about_page_content_horizontal_tape_two'>
                    </div>
                </div>
                <div id='about_page_content_content'>
                    <div id='about_page_content_content_title'>
                        What do I do?
                    </div>
                    <br />
                    <div id='about_page_content_content_job_FREAC'
                        class='about_page_content_content_job'>
                        Florida Resources and Environmental Analysis Center
                        <ul>
                            <li>Web Developer</li>
                            <li>Nov 2011 to Present</li>
                            <li>Tallahassee, FL</li>
                            <li><a href='www.freac.fsu.edu'
                                title="FREAC's Website">FREAC's Website</a></li>

                        </ul>
                        Description
                        <hr />
                    </div>
                    <br />
                    <div id='about_page_content_content_job_Sencommunications'
                        class='about_page_content_content_job'>
                        Sencommunications, Inc.
                        <ul>
                            <li>Tech Support / Customer Service</li>
                            <li>Apr 2010 to May 2011</li>
                            <li>Tampa, FL</li>
                            <li><a href='www.sencomm.com'
                                title="Sencommunications Inc.'s Website">Sencommunications Inc.'s Website</a></li>
                        </ul>
                        Description
                        <hr />
                    </div>
                    <br />
                    <div id='about_page_content_content_job_Publix'
                        class='about_page_content_content_job'>
                        Publix Supermarkets
                        <ul>
                            <li>Customer Service Team Leader</li>
                            <li>Jun 2005 to Jan 2009</li>
                            <li><a href='www.publix.com.'
                                title="Publix's Website">Publix's Website</a></li>
                        </ul>
                        Description
                        <hr />
                    </div>
                    <br />
                    <hr />
                    <br />

                </div>
            </div>
            <div class='clear'></div>
        </div>
    </div>
    <div class='clear'></div>
</div>

{% endblock content %}
