{% extends 'blog/base.html' %}
{% block content %}

<div id='content_wrapper'>
    <div id='left_side_wrapper'>
        <div id='recent_blog_post'>
            {% if blog_directory %}
                <h3>Recent Blog Posts</h3>
                {% for blog_side in directory_sides %}
                    <h6>
                        <a href='/blog/{{blog_side.slug}}'
                            title='{{blog_side.title}}'>{{blog_side.title}}</a><br />
                        {{blog_side.description}}
                    </h6>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id='right_side_wrapper'>
        <div id='content'>
            {% if blog_directory %}
                <h3>Blog Directory</h3>
                {% for blog_category in directory_category %}
                    <h3>{{blog_category.category}}</h3>
                    {% for blog_item in blog_category.blogpost_set.all %}
                        <a href='/blog/{{blog_item.slug}}'
                            title='{{blog_item.title}}'>{{blog_item.title}}</a><br />
                        {{blog_item.description}}<br />
                    {% endfor %}
                    <hr />
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class='clear'></div>
</div>

{% endblock content %}
