{% extends 'blog/base.html' %}
{% block content %}

<div id='content_wrapper'>
    <div id='left_side_wrapper'>
        <div id='recent_blog_post_wrapper'>
            <div id='recent_blog_post_title'>
                Recent Blog Posts
            </div>
            <div id='recent_blog_post_content'>
                {% for blog in front_page_blogs %}
                    <center><a href='/blog/{{blog.slug}}'
                            title='{{blog.title}}'>{{blog.title}}</a></center>
                        {{blog.description}}
                    <hr />
                {% endfor %}
            </div>
        </div>
    </div>
    <div id='right_side_wrapper'>
        <div id='content'>
            <div id='main_page_notes_wrapper'>
                <div id='main_page_notes_title'>
                    <h2>Welcome to Pillar Dev & Designs.</h2>
                </div>
                <div id='main_page_notes_content'>
                    {% for main_page_note in main_page_notes %}
                        <h5>
                            {{main_page_note.content}}
                        </h5>
                        <hr />
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
    <div class='clear'></div>
</div>

{% endblock content %}
