/* --------------------------------------------------
 *  style.css
 * ------------------------------------------------*/


/* --------------------------------------------------
 * Default Overrides 
 * ------------------------------------------------*/
body, html {
    background: #f7f7f7 url(concrete_wall_2.png);
    font-family: 'Knewave', cursive;
    margin: 0;
    padding: 0;
    
}

a {
    color:#336699;
    text-decoration:none;
}

a:hover {
    color:#A28167;
}

/* --------------------------------------------------
 * Headers
 * (Override h1,h2,etc.)
 * ------------------------------------------------*/
h1 {
}
h2 {
}
h3 {
    text-align:center;
}
h4 {
}

/* --------------------------------------------------
 * Pre (for code blocks)
 * ------------------------------------------------*/
pre {
    background;#383838;
    border:1px dashed #787878;
    color:#22ff22;
    font-size:.8em;
    font-family: monospace, sans-serif;
    padding:.3em;
    text-shadow:none;
}

/* --------------------------------------------------
 * **************************************************
 * Layout
 * **************************************************
 * ------------------------------------------------*/
/* --------------------------------------------------
 * Logo
 * ------------------------------------------------*/
#logo_wrapper {
    border-bottom:10px ridge #666666;
    border-top:10px ridge #666666;
    margin:0 0 0 0;
    text-align:left;
}
#logo_wrapper h1 {
    color:#505050;
    font-family: 'Passero One', cursive;
    font-size:3em;
    font-weight:bold;
    margin:0;
    text-shadow:0 1px 5px #303030;
}

/* --------------------------------------------------
 * Site Navigation
 * ------------------------------------------------*/
#site_nav_wrapper {    
    border-top:1px solid #343434;
    padding:.9em .3em;
    position:absolute;
    right:0;
    text-align:right;
    top:0;
}
#site_nav_wrapper a{
    display: inline;
    font-size:1.6em;
    font-weight:bold;
    margin:0 3em;
}

/* --------------------------------------------------
 * Main Content
 * ------------------------------------------------*/
#content_wrapper {
    font-family: 'Give You Glory', cursive;
    position:relative;
}
    #content_wrapper h2{
        font-weight:bold;
    }

    #left_side_wrapper {
        
        float:left;
        margin: 0 0 0 0;
        padding: 0 0;
        width:20%;
    }
        #left_side_wrapper a{
            font-size:.9em;
        }
        #recent_blog_posts {
            padding:0 0 15px 0;
            border-bottom:1px solid #343434;
        }
    #right_side_wrapper {
        background: #f7f7f7 url(lined_paper.png);
        float:left;
        padding:0 0;
        width:80%;
    }


/* --------------------------------------------------
 * Footer
 * ------------------------------------------------*/
#footer_wrapper {
    border-top:1px solid #343434;
    font-size:.9em;
    margin:0;
    padding:1%;
    text-align:right;
}

/* --------------------------------------------------
 * **************************************************
 * Reusable classes
 * **************************************************
 * ------------------------------------------------*/
.clear {
    clear:both;
}
