/* --------------------------------------------------
 *  style.css
 * ------------------------------------------------*/


/* --------------------------------------------------
 * Default Overrides 
 * ------------------------------------------------*/
body, html {
    background: #f7f7f7 url(lined_paper.png);
    margin: 0;
    padding: 0;
    
}

a {
    color:#336699;
    text-decoration:none;
}

a:hover {
    color:#A28167;
}

/* --------------------------------------------------
 * Headers
 * (Override h1,h2,etc.)
 * ------------------------------------------------*/
h1 {
}
h2 {
}
h3 {
    text-align:center;
}
h4 {
}

/* --------------------------------------------------
 * Pre (for code blocks)
 * ------------------------------------------------*/
pre {
    background;#383838;
    border:1px dashed #787878;
    color:#22ff22;
    font-size:.8em;
    font-family: monospace, sans-serif;
    padding:.3em;
    text-shadow:none;
}

/* --------------------------------------------------
 * **************************************************
 * Layout
 * **************************************************
 * ------------------------------------------------*/
/* --------------------------------------------------
 * Logo
 * ------------------------------------------------*/
#logo_wrapper {
    background: #f7f7f7 url(unlined_paper.png);
    border-bottom: 3px solid rgba(158,151,194,.6);
    height: 150px;
    margin:0 0 0 0;
    text-align:left;
}
    #logo_wrapper_top_left {
        border-right: 3px solid rgba(235,75,115,.6);
        height:152px;
        left:0;
        top:0;
        width:259px;
    }
    #logo_wrapper_title { 
        color:#505050;
        float:left;
        font-family: 'Passero One', cursive;
        font-size:3em;
        font-weight:bold;
        left:280px;
        margin:0;
        position:absolute;
        text-shadow:0 1px 5px #303030;
        top:90px;
    }
/* --------------------------------------------------
 * Site Navigation
 * ------------------------------------------------*/
#site_nav_wrapper {    
    padding:.9em .3em;
    position:absolute;
    right:0;
    text-align:right;
    top:0;
}
    #site_nav_wrapper a{
        display: inline;
        font-family: 'Give You Glory', cursive;
        font-size:1.8em;
        font-weight:bold;
        margin:0 2.5em;
    }

/* --------------------------------------------------
 * Main Content
 * ------------------------------------------------*/
#content_wrapper {
    font-family: 'Give You Glory', cursive;
    position:relative;
}
    /* Left Side */
    #left_side_wrapper {
        border-right: 3px solid rgba(235,75,115,.6);
        float:left;
        margin: 0 0 0 3px;
        padding: 0 0;
        width:256px;
    }
        #recent_blog_post_wrapper {
            border-bottom:1px solid #343434;
            padding:15px 0 15px 0; 
        }
        #recent_blog_post_title {
            font-size: 1.5em;
            font-weight: bold;
            text-align:center;
        }
        #recent_blog_post_content {
            font-size: 1em;
        }
            #recent_blog_post_content a{
                font-size:1.3em;
                font-weight:bold;
            }

    /* Right Side */
    #right_side_wrapper {
        background: #f7f7f7 url(lined_paper.png);
        float:left;
        padding:0 0 0 2px;
        width:79%;
    }
    #right_side_wrapper h2{
        text-align:center;
    }
        /* main_page_notes */
        #main_page_notes_wrapper {
        }
            #main_page_notes_title {
            }
            #main_page_notes_content{
                font-family: 'Arial', cursive;
            }
        /* directory_content_blog */
        #directory_content_blog_wrapper {
        }
            #directory_content_blog_title {
            }
            #directory_content_blog_content {
                font-family: 'Arial', cursive;
            }
                #directory_content_blog_content h2{
                    font-family: 'Give You Glory', cursive;
                }
                #directory_content_blog_content_table {
                    float:left;
                    position:relative;
                }
                #directory_content_blog_content_table a{
                    font-size:1em;
                    font-weight:bold;
                    font-family: 'Give You Glory', cursive;
                }
                #directory_content_blog_content_table table{
                    border: 1px solid #FB7A31;
                    border-bottom: 2px solid #FB7A31;
                    border-collapse: collapse;
                    font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
                    width:320px;
                }
                #directory_content_blog_content_table th{
                    padding: 0 0.5em;
                    text-align:left;
                }
                #directory_content_blog_content_table tr.yellow td{
                    background:#FFC;
                    border-top:1px solid #FB7A31;
                    border-bottom:1px solid #FB7A31;
                    
                }
                #directory_content_blog_content_table td{
                    border-bottom:1px solid #CCC;
                    padding: 0 0.5em;
                }
                #directory_content_blog_content_table td:first-child {
                    width: 190px;
                }
                #directory_content_blog_content_table td+td{
                    border-left:1px solid #CCC;
                    text-align:center;
                }

/* --------------------------------------------------
 * Footer
 * ------------------------------------------------*/
#footer_wrapper {
    border-top: 3px solid rgba(158,151,194,.6);
    font-size:.9em;
    margin:0;
    padding:1%;
    text-align:right;
}

/* --------------------------------------------------
 * **************************************************
 * Reusable classes
 * **************************************************
 * ------------------------------------------------*/
.clear {
    clear:both;
}
